.ajustesCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
.cardVerDetalles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}