.card {
 width: 170px;
 height: 360px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}
.buttonDetalle {
    text-decoration: none !important;
    color: white;
}
.imgCard {
    width: 120px;
    height: auto; 
    margin: 10px;
    margin-left: 20px
}
.titulosProductos{
    font-family: fantasy;
}